@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family:'Poppins',sans-serif;
}
header{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 15%;
   padding: 25px 12.5%;
   display: flex;
   justify-content: space-between;
   /* align-items: center; */
   z-index:100;
   background-color: rgb(10, 78, 78);

}
.background{
   width: 100%;
   height: 100vh;
   /* background: url('background.jpg') no-repeat; */
   background-size: cover;
   background-position: center;
   filter: blur(10px);
}

.navbar a {
   position: relative;
   font-size: 16px;
   color: white;
   text-decoration: none;
   font-weight: 500;
   margin-right: 30px;
}
.navbar a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background-color:white;
  border-radius: 5px;
  transform:translateY(10px) ;
  transition: .5s;
}
.navbar a:hover::after {
   transform: translateY(0);
   opacity: 1;
}
.search-bar{
   width: 250px;
   height: 45px;
   background:transparent;
   border: 2px solid #e4e4e4;;
   border-radius: 6px;
   display: flex;
   align-items: center;
}
.search-bar input{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #e4e4e4;
}
.search-bar button{
    width: 40px;
    height: 100%;
    background:transparent;
    border: none;
    outline: none;
    display: flex;
    color: #e4e4e4;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-left: 10px;
}
.search-bar input::placeholder{
    color: #e4e4e4;
}
.search-bar button i{
    font-size: 12px;
    color: #e4e4e4;

}
header h1{
   display: flex;
   position: fixed;
   color: #e4e4e4;


}
.container{
   display: block;
   position: absolute;
   top: 20%;
   left: 13%;
   width: 75%;
   height: 490px;
   justify-content: center;
   /* background:url('background.jpg') no-repeat; */
   background-color: transparent;
   backdrop-filter: blur(20px);
   background-size: cover;
   background-position: center;
   border-radius: 10px;
}
.container .content{
   position: fixed;
   top: 0;
   left:0;
   right: 0;
   width: 58%;
   height: 100%;
   background:transparent;
   backdrop-filter: blur(8px);
   color: #0c0a0a;
}
.container .logreg-box{
   width: calc(100% - 58%);
   height: 100%;
   float: right;
}
.logreg-box .form-box{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   background: transparent;
   backdrop-filter: blur(20px);
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   color: #0f0b0b;
}
.logreg-box .form-box.login {
   transform: translateX(50px);
   transition: transform .6s ease;
}
.logreg-box.active .form-box.login {
   transform: translateX(0);
   transition-delay: 0s;
}
/* .logreg-box .form-box.register {
   transform: translateX(100px);
   transition: transform .5s ease;
}
.logreg-box.active .form-box.register{
   transform: translateX(0);
   transition-delay: .7s ;

}  */
/* .content h2{
   font-size: 22px;
   text-align: center;
   justify-content: center;
}
.content h1{
   font-size: 42px;
   text-align: center;
   justify-content: center;
   font-weight: 500;
   margin-top: 30%;
} */
.form-box h2{
   font-size: 32px;
   text-align: center;
}
.form-box .input-box{
   position: relative;
   /* background: seagreen; */
   height: 50px;
   width: 100%;
   margin:  25px 0;
}
.input-box input{
   width:100%;
   height: 100%;
   background:transparent;
   outline: none;
   border: none;
   padding-right: 23px;
   border-bottom: 2px solid #077171;
   transition: .5s;
}
.input-box input:focus,
.input-box input:valid{
  border-bottom-color: rgb(7, 99, 93);
  color: rgb(14, 10, 10);
} 
.input-box label{
   position: absolute;
   top: 50%;
   left: 0;
   transform: translateY(-50%);
   font-size: 16px;
   color: #0b0808;
   pointer-events: none;
   transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
   top:-5px;
   color: rgb(6, 7, 7);
}
.input-box i{
   position: absolute;
   top: 50%;
   right: 0;
   transform: translateY(-50%);
   font-size: 18px;
   color: #080707;
   transition: .5s;
}
.input-box input:focus~i,
.input-box input:valid~i{
   top:-5px;
   color: rgb(13, 15, 15);
}
.btn{
position: relative;
width: 100%;
height: 45px;
background: transparent;
border: 2px solid rgb(6, 88, 94);
outline: none;
font-weight: 600;
color: #fff;
cursor: pointer;
border-radius: 10px;
z-index: 1;
overflow: hidden;
}

.btn::before {
   content: '';
   position: absolute;
   top: -100%;
   left: 0;
   width: 100%;
   height: 300%;
   background: linear-gradient(#081b29, rgb(12, 26, 27),#081b29,#0ef);
   z-index: -1;
   transition: .5s;
}

.btn:hover::before{
   top: 0;
}
.form-box .logreg-link{
   font-size: 14.5px;
   color: #0e0707;
   text-align: center;
   margin: 20px 0 10px;
}
.logreg-link p a{
   color: rgb(10, 12, 12);
   text-decoration: none;
   font-weight: 600;
}
.logreg-link p a:hover{
   text-decoration: underline;
}
.form-box.remember-forgot{
   font-size: 14.5px;
   font-weight: 500;
   margin: -15px 0 15px;
   display: flex;
   justify-content: space-between;
}
.remember-forgot label input{
   accent-color: #080606;
   margin-right: 3px;
}
.remember-forgot a{
   color: #2577c9;
   text-decoration: none;
}
.remember-forgot a:hover{
   text-decoration: underline;
}
.form-box .login-register{
   font-size: 14.5px;
   font-weight: 500;
   text-align: center;
   margin-top: 25px;
}
.login-register p a{
   color:#056e56 ;
   font-weight: 500;
   text-decoration: none;
}
.login-register p a:hover{
   text-decoration: underline;
}
.logreg-box .form-box.register{
   transform: translateX(43px);
   float: left;
}
.content{
   position: fixed;
   width: 100%;
   height: 100vh;
   background: #222;
   display: flex;
   justify-content: center;


}
.swiper{
   position: fixed;
   margin-top: 0;
   width: 100%;
  height:fit-content;

}
.swiper-slide img{
   position: relative;
   padding: 20px;
   width: 60%;
   justify-items: center;
   margin-left: 120px;
}
.swiper .swiper-button-prev, .swiper .swiper-button-next{
   color: #037b7d;
}
.swiper .swiper-pagination-bullet-active{
   background: #4e5756;


}

